doctype
html
  head
    title MathQuill Angular Directive Demo!

    link(rel='stylesheet', href='lib/mathquill/mathquill.css')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='lib/mathquill/mathquill.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js')
    script(src='mathquill-directive.js')

    script.
      var app = angular.module('mathquill-demo', ['mathquill']);

      app.run(['$rootScope', function($rootScope) {
          $rootScope.latex = '\\frac{123}{\\sqrt{\\left(x\\right)}}';
      }]);

  body(ng-app='mathquill-demo')
    h1 Mathquill!

    p Not gracefully handling bad latex yet

    mathquill(ng-model='latex')
    input(ng-model='latex')

